<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
		<class name="org.ictaktest.com.testclass"/>
		<class name="org.ictaktest.com.ctestclass"/>
        <class name="org.ictaktest.com.ptestclass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
